@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url(./NEXON\ Lv1\ Gothic\ OTF\ Light.woff);
}

@font-face {
    font-family: 'NEXON Lv2 Gothic Light';
    src: url(./NEXON\ Lv2\ Gothic\ Light.woff);
}


a{
    font-family: 'NEXON Lv1 Gothic OTF Light';
    color: black;
    font-weight: 700;
    font-size: 117;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-59%, -70%);
}

#h1{
    display: block;
    font-size: 10rem;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50%, -70%);
    text-decoration-line: none;
}

.jb-division-line {
    position: absolute;
    left: 50%;
    top: 3%;
    margin-top: 11em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    transform: translate(-50%, -70%);
    border-top: 2px solid black;
    margin: 5em left;
    width:57em;
}

#h2{
    display: block;
    font-size: 4rem;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -70%);
    text-decoration-line: none;
}

#h3{
    display: block;
    font-size: 4rem;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translate(-50%, -70%);
    text-decoration-line: none;
}

#h4{
    display: block;
    font-size: 4rem;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50%, -70%);
    text-decoration-line: none;
}

#h5{
    display: block;
    font-size: 4rem;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;    
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 61%;
    transform: translate(-50%, -70%);
    text-decoration-line: none;
}

.jb-division-line2 {
    position: absolute;
    left: 50%;
    top: 54%;
    margin-top: 11em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    transform: translate(-50%, -70%);
    border-top: 2px solid black;
    margin: 5em left;
    width:57em;
}

#h6{
    display: block;
    font-size: 3.2rem;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 74%;
    transform: translate(-50%, -70%);
    text-decoration-line: none;
    white-space: nowrap;
}

#h7{
    display: block;
    font-size: 3.2rem;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 83%;
    transform: translate(-50%, -70%);
    text-decoration-line: none;
    white-space: nowrap;
}

#h8{
    display: block;
    font-size: 3.1rem;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -70%);
    text-decoration-line: none;
    white-space: nowrap;
}

img {
    width: 4rem;
    position: absolute;
    left: 28.5%;
    top: 95.3%;
    transform: translate(-50%, -70%);
}

/*
반복문 scss - mixin 이용해서 좀 고치기
*/
